.addItem, .addItem input{
    font-size: 0.9vmax;
}
.addItem .addText{
    display:block;
    color: #0095ff;
}
.addItemLi-ifText{
    width:3.25vmax;
} 
.addItemLi-ifText, .addItemLi-thenText{
    display:inline-block;
}
.addItem form{
    display:inline-block;
    margin-left:12px;
    width:90%;
}
.addItemLi{
    list-style:none;
}
.addItem #ifItem01, .addItem #thenItem01{
    border:3px solid orange;
}
.addItem #ifItemOperator{
    border:3px solid blue;
    margin-left:6px;
    margin-right:6px;
}
.addItem #thenItemOperator{
    text-align: center;
    margin-left:8.6vmax;
    margin-right:8.6vmax;
    font-size: 1.25vmax;
    color:blue;
}
.addItem input[type='text']{
    border:3px solid green;
    width: 20vmax;
    height: 1.25vmax;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    position:relative;
    top:2px;
}
.addItem select{
    width: 20vmax;
    height: 1.75vmax;
    padding-left: 10px;
    border-radius: 5px;
    position:relative;
    top:2px;
}
.addItemBtn{
    border-radius: 5px;
    margin-left: 5px;
    background: rgba(0, 149, 255, 0.15);
	cursor: pointer;
}
.addAndContainer{
    width:100%;
}