.listItem {
    display:flex;
    flex-flow: row;
    align-items: center;
    font-size: 0.9vmax;
    border-bottom:1px solid lightgray;
}
.listItem div{
    padding-right: 20px;
}
.listItem div:first-of-type{
    border-bottom: none;
}
.listItem div:nth-of-type(2){
    max-width: 70vmax;
    overflow-wrap: break-word;
}
.listItem div:nth-of-type(3){
    font-weight: bold;
}
.listItem .removeListItem-btn{
    cursor: pointer;
    user-select: none;
}
.listItem .removeListItem-btn .closeText{
    color:#0095ff;
    font-weight: bold;
}
.listItem-ifContainer{
    width:100%
}
.listItem-text-if, .listItem-text-then{
    font-size: 1.25vmax;
}
.listItem-text-ifItem01, .listItem-text-thenItem01{
    color:orange;
}
.listItem-text-ifItemOperator, .listItem-text-thenItemOperator{
    color:blue;
}
.listItem-text-ifItem02, .listItem-text-thenItem02{
    color:green;
}