.listItem {
    display:flex;
    flex-flow: row;
    align-items: center;
    font-size: 0.9vmax;
    border-bottom:1px solid lightgray;
}
.listItem div{
    padding-right: 20px;
}
.listItem div:first-of-type{
    border-bottom: none;
}
.listItem div:nth-of-type(2){
    max-width: 70vmax;
    overflow-wrap: break-word;
}
.listItem div:nth-of-type(3){
    font-weight: bold;
}
.listItem div:nth-of-type(4){
    cursor: pointer;
    user-select: none;
}
.listItem div:nth-of-type(4) .closeText{
    color:#0095ff;
    font-weight: bold;
}